{% extends 'base.html' %}

{% block main %}

    <form method='get'>
        <label>Name:</label><br>
        <input type="text" name="name" placeholder="Enter name of group"><br>

        <label>Department</label><br>
        <input type="text" name="department" placeholder="Enter name of department"><br>

        <input type="submit" value="Search">
    </form>

    <br>
    <h3>LIST OF GROUPS</h3>

    {% for group in groups %}
        <p>
            <a href="{% url 'update' group.id %}">UPDATE</a>
            {{ group }}
        </p>

    {% endfor %}

{% endblock %}


