<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<body>

<a href="/teachers/" style="font-size: 64px">LMS</a>

    {% block main %}
        <h1> Welcome to LMS! </h1>
    {% endblock %}

</body>
</html>