{% extends 'base.html' %}

{% block main %}
    <br>
    <h3>LIST OF TEACHERS</h3>

    <form method='get'>
        <label>First name:</label><br>
        <input type="text" name="first_name" placeholder="Enter first name"><br>

        <label>Last name:</label><br>
        <input type="text" name="last_name" placeholder="Enter last name"><br>

        <label>Age:</label><br>
        <input type="number" name="age">

        <input type="submit" value="Search">
    </form>

    {% for teacher in teachers %}
        <p>
            <a href="{% url 'update' teacher.id %}">UPDATE</a>
            {{ teacher }}
        </p>

    {% endfor %}

{% endblock %}