{% extends 'base.html' %}

{% block main %}

    <form method='get'>
        <label>First name:</label><br>
        <input type="text" name="first_name" placeholder="Enter first name"><br>

        <label>Last name:</label><br>
        <input type="text" name="last_name" placeholder="Enter last name"><br>

        <label>Age:</label><br>
        <input type="number" name="age">

        <input type="submit" value="Search">
    </form>

    <br>
    <h3>LIST OF STUDENTS</h3>

    {% for student in students %}
        <p>
            <a href="{% url 'update' student.id %}">UPDATE</a>
            {{ student }}
        </p>

    {% endfor %}

{% endblock %}


