{% extends 'base.html' %}

{% block main %}
    <br>
    <h3>STUDENT CREATE</h3>

    <form method='post'>
        {{form.as_p}}

        <input type="submit" value="Create">
    </form>

{% endblock %}